@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

*
{
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black ;
}

.logo{
  width: 150px;
}

/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */


.btn-louer {
  background-color: #ff914d !important;
}

#home-image {
  width: 100%;
}

/* ---------------------------- responsive mobile --------------------------- */
@media screen and (max-width: 575px) {

#home_container{
  display: flex;
  width: 100%;
  height: 90vh;
  background-image: url('/getmybike-mvc/Content/img/site/home/home_mobile.jpg') !important;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.card-img-show {
  width: 100%;
  height: 40vh;
  object-fit: contain;
}

#conteneur_slider{
  align-self: end;  
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5vh;
}


/* ------------------ map Google ---------------------- */
#gmap_canvas{
  width: 200px;
  height: 160px;
  display: none;
}

.btn-louer {
  display: none !important;
}

.btn-louer-mobile {
  background-color: #ff914d !important;
  width: 100vw !important;
  height: 100%;
}

}

/* --------------------------- responsive tablette -------------------------- */
@media screen and (min-width: 576px) {

#home_container{
  /* border: 5px solid green; */
  width: 100%;
  height: 100vh;
  background-image: url('/getmybike-mvc/Content/img/site/home/moto_home.png') !important;
  background-repeat: no-repeat;

}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.card-img-show {
  width: 80%;
  height: 40vh;
  object-fit: contain;
}

#conteneur_slider{
  
  position:absolute;
  top: 60vh;
  left: 60vw;
  
  }

/* ------------------ map Google ---------------------- */
#gmap_canvas{
  width: 220px;
  height: 180px;

}

.btn-louer-mobile {
  display: none !important;
}


}

/* ------------------------------ responsive PC ----------------------------- */
@media screen and (min-width: 1024px) {

  #home_container{
    /* border: 5px solid green; */
    width: 100%;
    height: 100vh;
    background-image: url('/getmybike-mvc/Content/img/site/home/moto_home.png') !important;
    background-repeat: no-repeat;
    background-position: center ;
  }
  
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  
  .card-img-show {
    width: 100%;
    height: 50vh;
    object-fit: contain;
  }
  
  #conteneur_slider{
  
    position:absolute;
    top: 60vh;
    left: 60vw;
    
    }
  
  /* -------------------- map Google --------------------- */
  #gmap_canvas{
    width: 270px;
    height: 200px;
  }
  
  }
  

/* -------------------------------------------------------------------------- */
/*                                   navbar                                   */
/* -------------------------------------------------------------------------- */
header .navbar{
  /* background-color:rgb(255, 203, 92); */
  border-bottom: 2px solid #ff914d;
}
.pp-navbar-grise{
  
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgb(56, 56, 56);
}
.pp-navbar-rouge{
  
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid red;
}

 /* -------------------------------------------------------------------------- */
/*                              Registration form                             */
/* -------------------------------------------------------------------------- */

.js-verification {
  font-size: 12px;
  line-height: 1;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/* ......................validator password................... */
 

input #current-password {
  border:1px solid black; 
}

form .block-input input.invalide {
  border-color: red;
}
form .block-input input.succes {
  border-color: #97df07;
}

div .validator-criters {
  display:flex;
  flex-direction: column;
  padding: 10px 50px;
  margin: auto;
}
 div .validator-criters span {
  display: block;
  color: #cacaca;
  font-size: 13px;
  margin: 5px 0;
}
 div .validator-criters span.error {
  color: #a70b0b;
}
 div .validator-criters span.succes {
  color: #97df07;
}



/* -------------------------------------------------------------------------- */
/*                                   badges                                   */
/* -------------------------------------------------------------------------- */
.admin-badge {
    background-color: #d896e9; /* Couleur de fond */
    color: #fff; 
    border-radius: 50%; 
    padding: 8px 15px; 
    margin-right: 10px; 
    font-weight: bold; 
    display: inline-block; /* Permet au badge d'occuper seulement l'espace nécessaire */
}

.user-badge{
    background-color: #949494; 
    color: #fff; 
    border-radius: 50%;
    padding: 8px 15px; 
    margin-right: 10px;
    display: inline-block;
   
} 



/* -------------------------------------------------------------------------- */
/*                                   general                                  */
/* -------------------------------------------------------------------------- */
.title {
  text-align: center;
  margin-top: 50px;
}


footer {
    width: 100%;
    text-align: center; 
    margin-top: auto;
    padding: 2rem;
    color: white;
    background-color:rgb(0, 102, 255);
   
}

.buttons-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh auto;
  

}
 
 .main-container {
   /* background-color: #f0f0f0; */
   min-height: 100vh;
   font-family: sans-serif;
   overflow: hidden;
 }

 /* -------------------------------- getmybike ------------------------------- */
 .btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  padding: 2px 8px;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
}




#container-image {
  width: 100vw;
}



#login-image {
  display: block;
  height: 100vh;
  margin-left: auto;
}



/* -------------------------------- car cards ------------------------------- */
   
#gallery {
  margin-top: 50px
}

/* -------------------------------------------------------------------------- */
  /*                               Private profile                              */
  /* -------------------------------------------------------------------------- */

  /* ----------------------------- profile picture ---------------------------- */
  .upload {
    width : 125px;
    position: relative;
    margin: auto;
  }

  .upload img {
    border-radius: 50%;
    border: 8px solid #DCDCDC;
  }

  .upload .round {
    position: absolute;
    background: #00B4FF;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }

  .upload .round input[type = "file"] {
    position: absolute;
    transform: scale(3);
    opacity: 0;
  }

  input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
  }

  /* -------------------------------------------------------------------------- */
  /*                                  moto show                                 */
  /* -------------------------------------------------------------------------- */

  .pp-user {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid rgb(56, 56, 56);
  }

  .pp-commentaire {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgb(56, 56, 56);
  }
  
  .badge-online {
    transform: translate(-25px, 30px);
  }

  .jour-reserve {
    background-color: #febd27;
    }

/* -------------------------------------------------------------------------- */
/*                                public profil                               */
/* -------------------------------------------------------------------------- */
.badge-online-public-profile {
  transform: translate(-25px, 50px);
}

/* -------------------------------------------------------------------------- */
/*                              mes reservations                              */
/* -------------------------------------------------------------------------- */
.vignette-resa {
  width: 100px;
  height: 15vh;
  object-fit: cover;

}